.contacts {
	display: flex;
	padding: 150px 0;

	&__spacer {
		flex-basis: 12%;
		flex-shrink: 1;
	}

	&__wrapper {
		margin-left: auto;
		max-width: calc(1671px);
		flex-grow: 1;
		display: flex;
	}

	&__data {
		max-width: 600px;
		padding: 115px 120px;
		background-color: var(--colorWhite);
		color: var(--colorVioletBlueDark);
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 25px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__text-marker {
		margin-bottom: 5px;
	}

	&__map {
		position: relative;
		flex-grow: 1;
		padding: 115px 120px;
		background-image: url('../img/contacts-map.webp');
		background-position: center;
		background-size: cover;
		color: var(--colorWhite);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			border-left: 24px solid transparent;
			border-right: 24px solid transparent;
			border-top: 64px solid var(--colorGreenLight);
		}
	}

	&__marker {
		font-family: MaliExtraBold;
	}

	&__text {
		max-width: 220px;
	}
}