.footer {
	background-color: var(--colorVioletBlueDark);
	position: relative;
	padding: 150px 0;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: url('../img/dist/intro-background.webp');
		background-size: cover;
		opacity: 0.3;
	}

	&__contacts {
		position: relative;
		display: flex;
		justify-content: space-between;
		max-width: 700px;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	&__svg-wrapper {
		width: 40px;
		aspect-ratio: 1;

		&:hover {
			svg {
				fill: var(--colorWhite);
			}
		}

		svg {
			fill: var(--colorGreenLight);
			transition: fill 300ms;
		}
	}

	&__nav {
		position: relative;
		max-width: 1100px;
		margin: 0 auto;
		color: var(--colorWhite);
		display: flex;
		gap: 20px;
		justify-content: space-between;
		padding: 40px 11%;
		margin-bottom: 50px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-color: var(--colorWhite);
			opacity: 0.3;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-color: var(--colorWhite);
			opacity: 0.3;
		}
	}

	&__copyright {
		color: var(--colorWhite);
		position: relative;
		max-width: 450px;
		margin: 0 auto;
		text-align: center;
	}
}