<section class="contacts" id="contacts">
	<!-- <div class="contacts__spacer"></div> -->
	<div class="contacts__wrapper">
		<div class="contacts__data">
			<h3 class="title_40">
				Need a Design
				Partner?
			</h3>
			<p class="text">
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint.
			</p>
			<ul class="contacts__list">
				<li class="list__item">
					<p class="contacts__text-marker text-marker">
						Call Us
					</p>
					+40 770 179 471
				</li>
				<li class="list__item">
					<p class="contacts__text-marker text-marker">
						Send Email
					</p>
					hello@three.agency
				</li>
				<li class="list__item">
					<p class="contacts__text-marker text-marker">
						Twitter
					</p>
					@threeagency
				</li>
			</ul>
			<button class="btn"><span>GET A QUOTE</span></button>
		</div>
		<div class="contacts__map">
			<p class="contacts__marker">Three Studio</p>
			<p class="contacts__text">
				132 Street Name Goes Here <br>
				Town, State 1234325<br>
				United States</p>
		</div>
	</div>
</section>