<footer class="footer">
	<div class="footer__contacts">
		<a href="#" class="footer__svg-wrapper svg-wrapper">
			<svg>
				<use xlink:href="./assets/img/dist/twitter-filled.svg#twitter"></use>
			</svg>
		</a>
		<a href="#" class="footer__svg-wrapper svg-wrapper">
			<svg>
				<use xlink:href="./assets/img/dist/facebook-filled.svg#facebook"></use>
			</svg>
		</a>
		<a href="#" class="footer__svg-wrapper svg-wrapper">
			<svg>
				<use xlink:href="./assets/img/dist/facebook-filled.svg#facebook"></use>
			</svg>
		</a>
		<a href="#" class="footer__svg-wrapper svg-wrapper">
			<svg>
				<use xlink:href="./assets/img/dist/instagram-outline.svg#instagram"></use>
			</svg>
		</a>
		<a href="#" class="footer__svg-wrapper svg-wrapper">
			<svg>
				<use xlink:href="./assets/img/dist/facebook-filled.svg#facebook"></use>
			</svg>
		</a>
		<a href="#" class="footer__svg-wrapper svg-wrapper">
			<svg>
				<use xlink:href="./assets/img/dist/facebook-filled.svg#facebook"></use>
			</svg>
		</a>
		<a href="#" class="footer__svg-wrapper svg-wrapper">
			<svg>
				<use xlink:href="./assets/img/dist/email-filled.svg#email"></use>
			</svg>
		</a>
	</div>
	<nav class="footer__nav">
		<a href="#portfolio" class="nav__item">portfolio</a>
		<a href="#about" class="nav__item">about</a>
		<a href="#team" class="nav__item">articles</a>
		<a href="#contacts" class="nav__item">contact</a>
	</nav>
	<p class="footer__copyright text">Copyright © 2017 Three Studio. All rights reserved.<br>
		Please do not copy any works that you see on this website.</p>
</footer>