<section class="portfolio" id="portfolio">
	<div class="balcony container">
		<div class="balcony__header">
			<h3 class="balcony__subtitle">selected</h3>
			<h2 class="balcony__title">projects</h2>
		</div>
		<p class="balcony__text text">
			Three stands for “Functional, Timeless and Innovative”. Thats what powers our work when it comes to any
			kind of design,
			be it a simple marketing website or a full-stack application. Below you can find a couple of works we think
			best
			represent our three strenght points.
		</p>
	</div>
	<div class="portfolio__grid">
		<div class="portfolio__item">
			<img class="background" src="./assets/img/dist/portfilio-img1.webp" alt="">
			<div class="portfolio__data">
				<h3 class="portfolio__subtitle">website</h3>
				<h2 class="title_40">ARIMA INTL</h2>
			</div>
		</div>
		<div class="portfolio__item">
			<img class="background" src="./assets/img/dist/portfilio-img2.webp" alt="">
			<div class="portfolio__data">
				<h3 class="portfolio__subtitle">website</h3>
				<h2 class="title_40">ARIMA INTL</h2>
			</div>
		</div>
		<div class="portfolio__item">
			<img class="background" src="./assets/img/dist/portfilio-img3.webp" alt="">
			<div class="portfolio__data">
				<h3 class="portfolio__subtitle">website</h3>
				<h2 class="title_40">ARIMA INTL</h2>
			</div>
		</div>
		<div class="portfolio__item">
			<img class="background" src="./assets/img/dist/portfilio-img4.webp" alt="">
			<div class="portfolio__data">
				<h3 class="portfolio__subtitle">website</h3>
				<h2 class="title_40">ARIMA INTL</h2>
			</div>
		</div>
		<div class="portfolio__item">
			<img class="background" src="./assets/img/dist/portfilio-img5.webp" alt="">
			<div class="portfolio__data">
				<h3 class="portfolio__subtitle">website</h3>
				<h2 class="title_40">ARIMA INTL</h2>
			</div>
		</div>
		<div class="portfolio__item">
			<img class="background" src="./assets/img/dist/portfilio-img6.webp" alt="">
			<div class="portfolio__data">
				<h3 class="portfolio__subtitle">website</h3>
				<h2 class="title_40">ARIMA INTL</h2>
			</div>
		</div>
	</div>
</section>