<section class="projects" id="projects">
	<div class="projects__carousel carousel">
		<div class="carousel__controls">
			<button class="carousel__btn_next btn"><span>→</span></button>
			<button class="carousel__btn_prew btn"><span>←</span></button>
		</div>
		<div class="frame projects__frame projects__frame_vertical">
			<div class="belt projects__belt projects__belt-vertical">
				<div class="projects__card-vertical">
					<h3 class="title_40">Aarhus Lejerboliger</h3>
					<p class="card-vertical__subtitle">Website</p>
					<p class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.<br><br>Sed ut perspiciatis unde omnis iste natus error sit
						voluptatem
						accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
						veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					</p>
				</div>
				<div class="projects__card-vertical">
					<h3 class="title_40">Aarhus Lejerboliger</h3>
					<p class="card-vertical__subtitle">Website</p>
					<p class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.<br><br>Sed ut perspiciatis unde omnis iste natus error sit
						voluptatem
						accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
						veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					</p>
				</div>
				<div class="projects__card-vertical">
					<h3 class="title_40">Aarhus Lejerboliger</h3>
					<p class="card-vertical__subtitle">Website</p>
					<p class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.<br><br>Sed ut perspiciatis unde omnis iste natus error sit
						voluptatem
						accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
						veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					</p>
				</div>
			</div>
		</div>
		<div class="frame projects__frame projects__frame_horisontal">
			<div class="belt projects__belt belt-horisontal projects__belt-horisontal">
				<img class="projects__img-horisontal" src="./assets/img/dist/projects-img1.webp" alt="">
				<img class="projects__img-horisontal" src="./assets/img/dist/projects-img1.webp" alt="">
				<img class="projects__img-horisontal" src="./assets/img/dist/projects-img1.webp" alt="">
			</div>
		</div>
	</div>
</section>